<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VUE</title>
    <link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/777.css">
</head>
<body>
    <div id="container">
        <div class="head">
            <div class="fl">
                穿过云,穿过雾
            </div>
            <div class="fr">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
        </div>
        <div class="chat">
            <ul v-for="(item, index) in chatlist" class="me clearfix">
                <li :class="'con '+(index%2?'fl':'fr')">
                    <img :src="'images/'+(index%2 ? 'k.png':'person.png')" alt="">
                </li>
                <li :class="'mychat '+(index%2 ? 'fl' : 'fr')">{{item.message}}</li>
            </ul>
        </div>
        <div class="foot">
            <div class="pic">
                <img src="images/k.png" alt="">
            </div>
            <input type="text" id="ci" @keyup.enter="sendchat" v-model="inputvalue" placeholder="说点什么吧...">
            <span id="send" @click="sendchat">
                发送
            </span>
        </div>
    </div>
    <script src="js/vue.js"></script>
    <script src="js/jquery-3.4.1.js"></script>
    <!-- <script src="js/jquery-1.12.4.min.js"></script> -->
    <script src="js/777.js"></script>
</body>
</html>