<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VUE</title>
    <link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/777.css">
</head>
<body>
    <div id="container">
        <div class="head">
            <div class="fl">
                穿过云,穿过雾
            </div>
            <div class="fr">
                三个点
            </div>
        </div>
        <div class="chat">
            <ul v-for="(item, index) in chatlist" class="me clearfix">
                <li :class="'con '+(index%2?'fl':'fr')">
                    <img :src="'images/'+(index%2 ? 'k.png':'person.png')" alt="">
                </li>
                <li :class="'mychat '+(index%2 ? 'fl' : 'fr')">{{item.message}}</li>
            </ul>
        </div>
        <div class="foot">
            <div class="pic">
                <img src="images/k.png" alt="">
            </div>
            <input type="text" id="ci" @keyup.enter="sendc" v-model="inputvalue" placeholder="说点什么吧...">
            <span id="send">
                发送
            </span>
        </div>
    </div>
    <script src="js/vue.js"></script>
    <script>
    var app = new Vue({
        el: '#container',
        data: {
            inputvalue: "",
            chatlist:[ ]
        },
        methods: {
            sendc() {   
                this.chatlist.push(
                {message : this.inputvalue}
                )
            }
        },
    })
    </script>
</body>
</html>